body {
    background: #fff;
}
header {
    width: 100%;
  }
  
ul {
    list-style: none;
  }
#nav_bar {
    float: right;
    padding-top: 0px;
}
#nav_bar li {
    display: inline-block;
}
#nav_bar #sign_in {
    background: whitesmoke; 
    margin-right: 25px;
    padding: 7px 15px;
    border-radius: 3px; 
    font-weight: bold;
}
.container {
  position: sticky;
  height: 300px;
  width: 100%;
  text-align: center;
  padding: 0px;
  display: block;
  justify-content: center;
  position: absolute;
  }
  img {
    padding-top: 200px;
  }
  #searchinput {
      height: 40px;
      width: 500px;
      border: none;
      padding: 0px;
      padding-inline-start: 10px;
      position: relative;
      background-color: whitesmoke;
  }
  #searchinput:hover{
    cursor: text;
  }
  #searchinput:active{
    border: none;
  }
  #searchbox-button1{
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    float: left;
  }
  #searchbox-button2{
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    float: right;
  }
  .search-container{
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height: 44px;
    width: 600px;
    margin: 0 auto; 
    justify-content: center;
    align-items: center;    
  }
  
  a{
      color: darkblue;
  }
  a:hover {
color: blue;
cursor: pointer;
  }
  .button {
      padding: 6px;
      height: 36px;
      font-family: arial,sans-serif;
      border-radius: 5px;
      background-color: whitesmoke;
      color: rgb(110, 108, 108);
      border-width: 1px;
      border-color: whitesmoke;
      font-size: 14px;
  }
  .button:hover{
      color: black;
      border-color: black;
      cursor: pointer;
  }
  .footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color: whitesmoke;
    color: rgb(88, 87, 87);
    
  }
  .footer ul li {
    display: inline-block;
    font-size: 14px;

  }
  .footer ul a:hover {
    text-decoration: underline;
  }
  .footer-right {
    float: right;
    padding-left: 27px;
    padding-bottom: 10px;
  }
  .footer-left {
      float: left;
      padding-left: 27px;
      padding-bottom: 10px;
  }
  .footer li{
    padding-left: 6px;
    padding-right: 6px;
  }
  .footer li a {
    color: grey;
    font-family: arial,sans-serif;
  }
  .footer li a:hover {
text-decoration: underline;
  }

  

